.sidePaneCollapsed{
    display:flex;
    flex-direction: column;
    width:1488px;
    width: 100%;
    margin-left:32px;
    justify-content: center;
    align-items: center;
    background-color: #3B0060;;
}
.sidePaneExpanded{
    display:flex;
    flex-direction: column;
    width:1170px;
    width: 100%;
    margin-left:350px;
    justify-content: center;
    align-items: center;
    background-color: #3B0060;;
}
.categoryLabelTop{
    display:flex;
    justify-content: center;
    margin-top: 28px;
    font-size: 64px;
    color:white;
    border:none;
}

.feedContainer {
    width: 100vw;
    display: flex;
}