.sidePaneCollapsed{
    display:flex;
    flex-direction: column;
    width:1488px;
    width: 100%;
    margin-left:32px;
    align-items: center;
    background-color: #3B0060;
    min-height: 686px;
}
.sidePaneExpanded{
    display:flex;
    flex-direction: column;
    width:1170px;
    width: 100%;
    margin-left:350px;
    align-items: center;
    background-color: #3B0060;
    min-height: 686px;
}
.categoryLabelTop{
    display:flex;
    justify-content: center;
    margin-top: 28px;
    font-size: 64px;
    color:white;
    border:none;
    text-shadow: 0px 0px 8px yellow;
    margin-bottom:16px;
}

.feedContainer {
    width: 100vw;
    display: flex;
}
.littleLabel{
    display:flex;
    font-size:32px;
    height:32px;
    padding-top: 30px;
}
.noAdvicesSignal{
    display:flex;
    color:white;
    margin-top:8px;
    font-size:24px;
}