.theBarExpanded{
    display:flex;
    position:fixed;
    height: 100%;
    background-color:#074568;
    width:32px;
    margin-left:318px;
    color:#ffa600;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 1px 4px 2px #074568;
}
.theBarCollapsed{
    display:flex;
    position:fixed;
    height: 100%;
    background-color:#ffa600;
    box-shadow: 4px 0px 4px 2px #ffa600;
    width:32px;
    margin-left:0px;
    color:white;
    font-size: 24px;
    align-items: center;
    justify-content: center;
}
.theBarExpanded:hover{
    background-color: rgb(48, 102, 128);
    box-shadow: 4px 1px 4px 2px rgb(48,102,128);
}
.theBarCollapsed:hover{
    opacity:50%;
}