.cardContainer{
    display:flex;
    width:586px;
    min-height: 216px;
    border-radius:8px;
    flex-direction: column;
    background-color: #967EB5;
    color:white;
    margin-top: 16px;
    margin-bottom: auto;
    border-radius: 8px;
}
.noAdviceLabel{
    font-style: italic;
    color: rgb(223, 197, 223);
}
.superCardContainer{
    display:flex;
    flex-direction: row;
    margin-bottom: 32px;
}
.topLabel{
    display:flex;
    flex-direction: row;
    border-radius: 8px 8px 0px 0px;
    height:32px;
    background-color: #57446D;
    padding:4px;
    justify-content: space-between;
}
.twoColumns{
    display: flex;
    flex-direction: column;
}
.catLabel{
    display:flex;
    font-size:24px;
    font-weight:bold;
    text-align: center;
    align-items: center;
    color:#E9CEF2;
    overflow: hidden;
    max-width: 320px;
    text-decoration: none;
}
.catLabel:hover{
    color: #a78ab1;
}
.authorLabel{
    display: flex;
    color: rgba(0, 247, 255, 0.877);
    font-size: 24px;
    align-items: center;
    text-align: center;
    text-decoration: none;
}
.authorLabel:hover{
    color: rgba(0, 179, 185, 0.877);
}
.bodyContainer{
    display: flex;
    flex-direction: row;
    min-height: 136px;
}
.adviceBox{
    display: flex;
    margin-bottom: 8px;
}
.dateRateContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:auto;
    padding:2px;
}
.dateLabelBottom{
    display: flex;
    font-size: 24px;
    color:white;
    margin-top: 12px;
}
.numRatingsLabel{
    display: flex;
    font-size: 24px;
    color: white;
    margin-right:4px;
    margin-top:12px;
}
.storyIndicator{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    color:rgb(255, 232, 255);
}
.content{
    display:flex;
    flex-direction: column;
    width:100%;
    font-size: 24px;
    padding-left: 8px;
    overflow:hidden;
}
.adviceStory{
    display:flex;
    flex-direction: column;
    font-size: 18px;
}
.rateButton{
    display:flex;
    background-color:#32C7AC;
    width:128px;
    border:none;
    justify-content: center;
    align-items: center;
    color: #FBFF38;
    font-size:32px;
    font-weight: bold;
    outline:none;
}
.rateButton:hover{
    background-color: rgb(37, 148, 128);
    cursor:pointer;
}
.closeMark{
    color:#631313;
}

.cardStyle0 {box-shadow: 0px 0px 64px rgb( 148, 0, 0);}
.cardStyle1 {box-shadow: 0px 0px 64px rgb( 157, 22, 1);}
.cardStyle2 {box-shadow: 0px 0px 64px rgb( 167, 44, 2);}
.cardStyle3 {box-shadow: 0px 0px 64px rgb( 176, 67, 3);}
.cardStyle4 {box-shadow: 0px 0px 64px rgb( 186, 89, 4);}
.cardStyle5 {box-shadow: 0px 0px 64px rgb( 195, 112, 6);}
.cardStyle6 {box-shadow: 0px 0px 64px rgb( 205, 134, 7);}
.cardStyle7 {box-shadow: 0px 0px 64px rgb( 214, 156, 8);}
.cardStyle8 {box-shadow: 0px 0px 64px rgb( 224, 179, 9);}
.cardStyle9 {box-shadow: 0px 0px 64px rgb( 233, 201, 10);}
.cardStyle10{box-shadow: 0px 0px 64px rgb( 243, 224, 12);}
.cardStyle11{box-shadow: 0px 0px 64px rgb( 227, 226, 33);}
.cardStyle12{box-shadow: 0px 0px 64px rgb( 211, 229, 54);}
.cardStyle13{box-shadow: 0px 0px 64px rgb( 195, 231, 76);}
.cardStyle14{box-shadow: 0px 0px 64px rgb( 179, 234, 97);}
.cardStyle15{box-shadow: 0px 0px 64px rgb( 163, 236, 118);}
.cardStyle16{box-shadow: 0px 0px 64px rgb( 148, 239, 140);}
.cardStyle17{box-shadow: 0px 0px 64px rgb( 132, 241, 161);}
.cardStyle18{box-shadow: 0px 0px 64px rgb( 116, 244, 182);}
.cardStyle19{box-shadow: 0px 0px 64px rgb( 100, 246, 204);}
.cardStyle20{box-shadow: 0px 0px 64px rgb( 84, 249, 225);}
.cardStyle21{box-shadow: 0px 0px 64px rgb( 69, 252, 247);}



