.showStory{
    display:flex;
    height:44px;
    background-color: #7D6B95;
    border-radius: 0px 0px 8px 8px;
    border:none;
    font-size: 22px;
    color:white;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -1px 2px #7D6B95;
    outline:none;
}
.noStory{
        display:flex;
        height:44px;
        background-color: #7D6B95;
        border-radius: 0px 0px 8px 8px;
        border:none;
        font-size: 22px;
        color:rgb(209, 209, 209);
        justify-content: center;
        align-items: center;
        box-shadow: 0px -1px 2px #7D6B95;
}
.hideStoryButton{
    display:flex;
    justify-content: center;
    align-items: center;
    height:44px;
    background-color: #7D6B95;
    border:none;
    width:100%;
    border-radius: 0px 0px 8px 8px;
    font-size: 22px;
    color:white;
    box-shadow: 0px -1px 2spx #7D6B95;
    outline:none;
}
.hideStory{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 8px 8px;
    background-color: rgb(111, 86, 143);
    outline:none;
}
.hideStoryTopButton{
    border-radius: 0px 0px 0px 0px;
}
.showStory:hover{
    background-color: rgb(89, 76, 105);
    box-shadow: 0px -1px 2px rgb(89, 76, 105);
    cursor: pointer;
}
.hideStoryButton:hover{
    background-color: rgb(89, 76, 105);
    box-shadow: 0px -1px 2px rgb(89, 76, 105);
    cursor: pointer;
}