.searchBoxContainer{
    display:flex;
    position:fixed;
    height: 196px;
    background-color:rgb(255, 148, 223);
    border: 1px solid rgb(0, 255, 76);
    width:318px;
    margin-left:0px;
    justify-content: center;
}
.searchLabel{
    display:flex;
    position:fixed;
    margin: auto;
    width:200px;
    border:black 1px solid;

    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    justify-content: center;
}
.commonCategories{
    display:flex;
    position:fixed;
    height: 490px;
    background-color:rgb(197, 252, 197);
    border: 1px solid rgb(17, 0, 255);
    width:318px;
    margin-left:0px;
    margin-top:196px;
    text-align: center;
}
.categoryLink{
    display:flex;
    position:fixed;
    height: 64px;
    background-color:rgb(181, 229, 241);
    border: 1px solid rgb(17, 0, 255);
    width:250px;
    margin-left:0px;
    margin-top: 64px;
    text-align: center;
}
.linkOne{
    margin-top: 64px;
}
.linkTwo{
    margin-top: 192px;
}
.linkThree{
    margin-top: 320px;
}
.linkFour{
    margin-top: 448px;
}